@CHARSET "UTF-8";
.about-bio {
	min-height: 100px;
}

#itpsc-profile-form textarea {
	width: 300px;
}

.contact-info {
	display: block;
}

#jform_facebook-lbl {
	background-image: url(../images/facebook_20x20.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 25px;
}

#jform_twitter-lbl {
	background-image: url(../images/twitter_20x20.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 25px;
}

#jform_linkedin-lbl {
	background-image: url(../images/linkedin_20x20.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 25px;
}

.sc-profile-link {
	background: url(../images/link_20x20.png) left no-repeat;
	padding-left: 25px;
}

.mt-10 {
    margin-top: 10px;
}

.mtb-5px {
	margin: 5px 0;
}